<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nazwa</th>
			<th>Komentarz</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for placeType in placeTypes %}
			<tr>
				<td>{{placeType.id}}</td>
				<td>{{placeType.name}}</td>
				<td>{{placeType.comment}}</td>
				<td>
					<a class="btn btn-primary" data-toggle="modal" href="{{ path('app_administration_dictionary_place_type', {'id': placeType.id}) }}" data-target="#modal"><i class="glyphicon glyphicon-edit"></i></a>
					<a class="btn btn-danger" data-toggle="modal" href="{{ path('app_administration_user_modal_delete', {'id': placeType.id}) }}" data-target="#modal"><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-success" data-toggle="modal" href="{{ path('app_administration_dictionary_place_type') }}" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> Dodaj typ</a>

