<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nazwa</th>
			<th>Typ</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for place in places %}
			<tr>
				<td>{{place.id}}</td>
				<td>{{place.name}}</td>
				<td>{{place.placeType.name}}</td>
				<td>
					<a class="btn btn-primary" data-toggle="modal" href="{{ path('app_administration_dictionary_place', {'id': place.id}) }}" data-target="#modal"><i class="glyphicon glyphicon-edit"></i></a>
					<a class="btn btn-danger" data-toggle="modal" href="{{ path('app_administration_dictionary_place', {'id': place.id}) }}" data-target="#modal"><i class="glyphicon glyphicon-trash"></i></a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<a class="btn btn-success" data-toggle="modal" href="{{ path('app_administration_dictionary_place') }}" data-target="#modal"><i class="glyphicon glyphicon-plus"></i> Dodaj miejsce</a>
