{% extends 'AppBundle::modal.html.twig' %}

{% block start %}
	{{ form_start(form, {'attr': {'refresh_id': 'content'} }) }}
{% endblock %}

{% block title %}
	Dodawanie miejsca
{% endblock %}

{% block body %}
	{{ form_row(form.name) }}
	{{ form_row(form.geoLat) }}
	{{ form_row(form.geoLng) }}
	{{ form_row(form.comment) }}
	{{ form_row(form.placeType) }}
	{{ form_row(form.parents, {'attr': {'class': 'placeParents'} }) }}
{% endblock %}

{% block footer %}
	{{ form_row(form.save) }}
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
{% endblock %}

{% block end %}
	{{ form_end(form) }}
	<script>
		$(document).ready(function() {
			$("[name='{{ form.vars.name }}']").submit(function(e) {
				e.preventDefault();
				postForm($(this), function(response) {
					if (response.success) {
						$("#modal").modal('hide');
					} else {
						$("#modal .modal-content").html(response);
					}
				});
				
				return false;
			});
			
			$(".placeParents").select2();//{
//				ajax: {
//					url: "https://api.github.com/search/repositories",
//					dataType: 'json',
//					delay: 250,
//					data: function (params) {
//						return {
//							q: params.term, // search term
//							page: params.page
//						};
//					},
//					processResults: function (data, page) {
						// parse the results into the format expected by Select2.
						// since we are using custom formatting functions we do not need to
						// alter the remote JSON data
//						return {
//							results: data.items
//						};
//					},
//					cache: true
//				},
//				minimumInputLength: 1
//			});
		});
	</script>
{% endblock %}
