{% extends 'AppBundle::modal.html.twig' %}

{% block start %}
	{{ form_start(form) }}
{% endblock %}

{% block title %}
	Role
{% endblock %}

{% block body %}
	{{ form_widget(form.roles) }}
{% endblock %}

{% block footer %}
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	{{ form_widget(form.save, {'attr': {'data-loading-text': 'Zapisywanie...'} }) }}
{% endblock %}

{% block end %}
	{{ form_end(form) }}
	<script>
		$(document).ready(function() {
			$("[name='{{ form.vars.name }}']").submit(function(e) {
				e.preventDefault();
				postForm($(this), function(response) {
					if (response.success) {
						$("#modal").modal('hide');
					} else {
						$("#modal .modal-content").html(response);
					}
				});
				
				return false;
			});
		});
	</script>
{% endblock %}
