{% extends 'AppBundle::modal.html.twig' %}

{% block start %}
	{{ form_start(form) }}
{% endblock %}

{% block title %}
	{{ title }}
{% endblock %}

{% block body %}
	{{ form_errors(form) }}
	{{ form_row(form.fName) }}
	{{ form_row(form.lName) }}
	{{ form_row(form.email) }}
{% endblock %}

{% block footer %}
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	{{ form_widget(form.save) }}
{% endblock %}

{% block end %}
	{{ form_end(form) }}
{% endblock %}
